body {
  font-family: 'Roboto',sans-serif;
  background-color: #3f51b5;
}

.login {
  background-color: #1e2f8d;
  padding: 60px;
  border-radius: 10px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  margin-bottom:50px;
  margin-top: -10px;
  font-size: 47px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px 80px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  background-color: #0c1bf0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0407bb;
}

a {
  color: #326eee;
  text-decoration: none;
}

p {
  text-align: center;
  font-size: 15px;

}